/* 
Inverser l'ordre d'affichage des messages. 
(du bas vers le haut)
*/ 

.scroller {
  max-height: 80vh;
  overflow: auto;
}
.panel-body {
  display: flex;
  flex-direction: column-reverse;
}

.chat-screen {
  
}

.chat-screen .empty {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.chat-screen .empty .empty-icon {
  width: 6rem;
}