
.app {
  margin-top: 2rem;
}

.wrapper {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;
}


@media (max-width: 1024px) {
  .wrapper {
    margin: 0 auto;
  }
}




.menu-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 15;
  display: none;
}

.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(247, 248, 249, .75);
  opacity: 0;
  pointer-events: none;
  transition: opacity 200ms;
  z-index: 5;
}


@media (max-width: 840px) {
  .menu-btn {
    display: block;
  }
  .side-menu {
    z-index: 10;
    position: fixed;
    top: 3.5rem;
    left: 1rem;
    width: 80%;
    transform: translateX(-110%);
    transition: transform 200ms ease-out;
  }
  .side-menu .menu {
    max-height: calc(100vh - 8rem);
    overflow: auto;
  }
  [menuOpened] .side-menu {
    transform: translateX(0%);
  }
  [menuOpened] .overlay {
    opacity: 1;
    pointer-events: all;
  }
}