/* 
Inverser l'ordre d'affichage des messages. 
(du bas vers le haut)
*/ 

.panel-body {
  display: flex;
  flex-direction: column-reverse;
}

.loginForm {
	height: 100%;
	display: grid;
	flex-direction: column;
	align-items: stretch;
	justify-content: center;
	padding: 3em;
}

.loginForm input {
	border-bottom: 2px solid #cccccc;
	background-color: transparent;
}



label {

}

input,
textarea {
	border: 0;
	width: 100%;
	max-width: 100%;
	padding: 0.5em 0;
	line-height: 2;
  color: inherit;
  font-family: inherit;
}

input:focus,
textarea:focus {
	outline: 0;
}



::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: inherit;
	opacity: 0.5;
}
::-moz-placeholder { /* Firefox 19+ */
  color: inherit;
	opacity: 0.5;
}
:-ms-input-placeholder { /* IE 10+ */
  color: inherit;
	opacity: 0.5;
}
:-moz-placeholder { /* Firefox 18- */
  color: inherit;
	opacity: 0.5;
}


.radio {
	display: flex;
	align-items: center;
	justify-content: flex-start;
}
.radio input[type="radio"] {
	display: block;
	width: auto;
}


fieldset {
	position: relative;
	margin: 3rem 0;
}

.error {
	color: red;
}



  
  